<div style="background-color: #f5f5f5">
  <div class="main-section">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-1">
          <div class="side-nav">
            <ul>
              <li>
                <img
                  style="
                    transform: translate(-10%, 0%);
                    width: 2.8rem;
                    height: 2.8rem;
                  "
                  src="assets/img/more1.png"
                />
              </li>

              <li>
                <img
                  style="
                    transform: translate(-10%, 120%);
                    width: 2.8rem;
                    height: 2.8rem;
                  "
                  src="assets/img/home.png"
                />
              </li>

              <li>
                <img
                  style="
                    transform: translate(-10%, 170%);
                    width: 2.8rem;
                    height: 2.8rem;
                  "
                  src="assets/img/wallet.png"
                />
              </li>

              <li>
                <img
                  style="
                    transform: translate(-10%, 220%);
                    width: 2.8rem;
                    height: 2.8rem;
                  "
                  src="assets/img/user.png"
                />
              </li>

              <li>
                <img
                  style="
                    transform: translate(-10%, 270%);
                    width: 2.8rem;
                    height: 2.8rem;
                  "
                  src="assets/img/chat.png"
                />
              </li>

              <li>
                <img
                  style="
                    transform: translate(-10%, 340%);
                    width: 2.8rem;
                    height: 2.8rem;
                  "
                  src="assets/img/brightness.png"
                />
              </li>

              <li>
                <img
                  (click)="logOut()"
                  style="
                    transform: translate(-10%, 17rem);
                    width: 1.2rem;
                    height: 1.2rem;
                  "
                  src="assets/img/logout.png"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-11">
          <div class="nav-farmer">
            <ul>
              <li
                (click)="myOrders('order')"
                style="
                  color: #4caf50;
                  text-decoration: underline;
                  font-weight: bolder;
                "
              >
                My Orders
              </li>
              <li
                (click)="myOrders('cart')"
                style="
                  color: #4caf50;
                  text-decoration: underline;
                  font-weight: bolder;
                "
              >
                My Cart
              </li>
              <li>View Profile</li>
              <li>Garden farm</li>
              <li (click)="logOut()">Logout</li>
            </ul>
          </div>

          <div class="inner-heading">
            <div class="container text-center">
              <div class="row">
                <div class="col-8">
                  <ul>
                    <li>
                      <div class="circular-image-placeholder">Hello World</div>
                    </li>
                  </ul>
                </div>
                <div class="col-4">
                  <input
                    class="search-bar"
                    type="text"
                    placeholder="search anything..."
                  />
                  <img
                    class="search-icon"
                    style="
                      width: 1.3rem;
                      height: 1.3rem;
                      transform: translate(-170%, 0%);
                    "
                    src="assets/img/search_icon.png"
                  />
                  <!-- style="width: 1.3rem;height: 1.3rem;transform: translate(-50%,0%);" -->
                  <div class="round-bell">
                    <img class="bell" src="assets/img/notification.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="upper-row">
            <div class="container text-center">
              <div class="row">
                <div class="col-8">
                  <ul>
                    <li>
                      <div class="card" id="uper-row-card">
                        <div class="inner-card">
                          <img class="trolley" src="assets/img/trolley.png" />
                          <h6 class="tag">50 items/day</h6>

                          <img class="weight" src="assets/img/weight.png" />
                          <h6 class="tag-weight">600/kg</h6>

                          <img class="growth" src="assets/img/leaf.png" />
                          <h6 class="tag-growth">Average Growth</h6>

                          <img
                            class="dashboard-inner-content"
                            src="assets/img/dashboard-inner-content.png"
                          />
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-4">
                  Farm Statistics
                  <div class="card" id="tools-farmer" (click)="viewProducts()">
                    <img class="tractor" src="assets/img/tractor.png" />
                    <h6
                      style="
                        font-size: x-small;
                        transform: translate(15%, -270%);
                      "
                    >
                      Buy Farming Tools
                    </h6>
                  </div>

                  <div class="card" id="products-farmer" (click)="addProduct()">
                    <img class="tractor" src="assets/img/veg.png" />
                    <h6
                      style="
                        font-size: x-small;
                        transform: translate(15%, -270%);
                      "
                    >
                      Add Products
                    </h6>
                  </div>

                  <div class="card" id="products-farmer" (click)="myOrders('cart')">
                    <img class="tractor" src="assets/img/cart.png" />
                    <h6
                      style="
                        font-size: x-small;
                        transform: translate(15%, -260%);
                      "
                    >
                      Check Cart
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
